
<div id="back"></div>
<div id="container">
    <app-logo></app-logo>
    <app-contact-us-button [isDarkTheme]='false'></app-contact-us-button>
    <div id="text-container">
        <div id="clients-text">150+ clients</div>
        <div id="description-text">We work with some of the biggest gaming entertainers & world-renowned organizations.</div>
        <div id="view-text">view all</div> 
    </div>
    <div id="images-container">
        <div class="tape offset"></div>
        <div class="tape"></div>
        <div class="tape offset"></div>
    </div>
    <div id="sphere"></div>
    <div id="torus"></div>
    <div id="youtube"></div>
</div>