<div id="back">
    <app-logo></app-logo>
    <app-contact-us-button></app-contact-us-button>
    <div id="text">
        <div id="practice-text">practice by sze</div>
        <div id="creative-text">creative</div>
        <div id="content-text">our content has reached</div>
        <div id="views-text">{{views}}</div>
        <div id="viewers-text">viewers</div>
    </div>
    <div id="lettering" class="models"></div>
    <div id="youtube"  class="models"></div>
    <div id="camera"  class="models"></div>
    <div id="note" class="models"></div>
    <div id="torus" class="models"></div>
    <div id="headphone" class="models"></div>
    <div id="heart" class="models"></div>
    <div id="torus3" class="models"></div>
    <div id="spot" class="models"></div>
    <div id="spot2" class="models"></div>
    <div id="clapper" class="models"></div>
    <div id="oval" class="models"></div>
    
</div>
